mixin popup
    .services-popup
        button(type="button").services-popup__close
        h2.services-popup__title
            |Беспроводная клавиатура
        p.services-popup__description
            img.services-popup__image(src="/assets/img/keyboard.jpg" width="70" height="74" alt="Беспроводная клавиатура")
            |Компактне устройство для постановки и снятия
            |обьекта с охраны путем ввода персонального кода.


mixin tab(title, address, active)
    li.services-tab.js-services-tab(class=active)
        label.services-tab__label.js-services-tab__label
            span.services-tab__title= title
            span.services-tab__address= address

        .services-tab__content
            .services-tab__header
                span.services-tab__desc
                    |Охрана объекта — 9500 руб./мес.
                span.services-tab__details
                    |С учетом дополнительных услуг и оборудования

            form.services-extra(action="#" method="POST")
                .services-extra__title
                    |Подключение дополнительных услуг
                table.services-table.js-services-table
                    thead.services-table__thead
                        tr.services-table__tr(valign="top")
                            th.services-table__th(width="39%")
                                |Услуги по обьекту
                            th.services-table__th
                                |Стоимость установки, руб.
                            th.services-table__th
                                |Абон.плата, руб.
                            th.services-table__th
                                |Выбор
                            th.services-table__th
                                |Количество

                    tbody.services-table__tbody
                        tr.services-table__tr
                            td.services-table__td
                                i.services-table__icon.services-table__icon_sms-info
                                span.services-table__name
                                    |СМС-информирование
                            td.services-table__td
                                |0
                            td.services-table__td.js-service-subs-price
                                |60
                            td.services-table__td
                                input.services-table__checkbox.js-services-checkbox(type="checkbox" name="sms-info" checked)
                            td.services-table__td
                        tr.services-table__tr
                            td.services-table__td
                                i.services-table__icon.services-table__icon_leakage-notify
                                span.services-table__name
                                    |Оповещение о протечке воды
                            td.services-table__td
                                |2300
                            td.services-table__td.js-service-subs-price
                                |50
                            td.services-table__td
                                input.services-table__checkbox.js-services-checkbox(type="checkbox" name="leakage-notify" checked)
                            td.services-table__td
                                .services-quantity
                                    span.services-quantity__minus
                                    input.services-quantity__input(type="text" name="leakage-notify-count" value="2")
                                    span.services-quantity__plus
                        tr.services-table__tr
                            td.services-table__td
                                i.services-table__icon.services-table__icon_ignition-notify
                                span.services-table__name
                                    |Оповещение о возгорании
                            td.services-table__td
                                |13
                            td.services-table__td.js-service-subs-price
                                |50
                            td.services-table__td
                                input.services-table__checkbox.js-services-checkbox(type="checkbox" name="ignition-notify" checked)
                            td.services-table__td
                                .services-quantity
                                    span.services-quantity__minus
                                    input.services-quantity__input(type="text" name="ignition-notify-count" value="2")
                                    span.services-quantity__plus
                        tr.services-table__tr
                            td.services-table__td
                                i.services-table__icon.services-table__icon_service
                                span.services-table__name
                                    |Сервисное обслуживание
                                    +popup
                            td.services-table__td
                                |2300
                            td.services-table__td.js-service-subs-price
                                |50
                            td.services-table__td
                                input.services-table__checkbox.js-services-checkbox(type="checkbox" name="service" checked)
                            td.services-table__td
                        tr.services-table__tr
                            td.services-table__td
                                i.services-table__icon.services-table__icon_dual-response
                                span.services-table__name
                                    |Двойное реагирование
                            td.services-table__td
                                |2300
                            td.services-table__td.js-service-subs-price
                                |50
                            td.services-table__td
                                input.services-table__checkbox.js-services-checkbox(type="checkbox" name="dual-response")
                            td.services-table__td
                        tr.services-table__tr
                            td.services-table__td
                                i.services-table__icon.services-table__icon_goal-notify
                                span.services-table__name
                                    |Оповещение об открытии ворот
                            td.services-table__td
                                |2300
                            td.services-table__td.js-service-subs-price
                                |50
                            td.services-table__td
                                input.services-table__checkbox.js-services-checkbox(type="checkbox" name="goal-notify" checked)
                            td.services-table__td
                                .services-quantity
                                    span.services-quantity__minus
                                    input.services-quantity__input(type="text" name="goal-notify-count" value="2")
                                    span.services-quantity__plus

                    tfoot.services-table__tfoot
                        tr.services-table__tr
                            td.services-table__td
                                |Итого
                            td.services-table__td
                                |0
                            td.services-table__td.js-services-total-price
                                |0
                            td.services-table__td(colspan="2")
                                button.services-table__button
                                    |Подключить

            .services-tab__footer
                a.services-tab__freeze(href="#")
                    |Временно приостановить обслуживание обьекта

.container
    include ../modules/_breadcrumbs.pug

    section.services
        h1.services__header
            |Услуги

        ul.services-tabs
            +tab('Моя квартира', 'г. Москва, ул. Рашпилевская, д. 203, корп. 12, кв. 122', 'active')
            +tab('Дача в Иваново', 'г. Иваново, ул. Советская, д. 203, корп. 12, кв. 122')
            +tab('Дача в Балашихе', 'г. Балашиха, ул. Новороссийская, д. 203, корп. 12, кв. 122')

        .services-total
            p.services-total__text
                |Абонентская плата по всем обьектам
            span.services-total__price.js-services-total-price
                |0
            span.services-total__period
                |руб. / мес.
        


                                            


