.breadcrumbs {
    @include list-unstyled;
    margin-top: 6px;
    &__item {
        display: inline-block;
        color: #0098e3;
        &::after {
            content: '>';
            display: inline;
            margin-left: 5px;
            margin-right: 3px;
        }
        &:last-child::after {
            display: none;
        }
    }
    &__link {
        text-decoration: none;
    }
}