footer.footer
    ul.footer-menu
        li.footer-menu__item
            a.footer-menu__link
                |Главная
        li.footer-menu__item
            a.footer-menu__link
                |Управление
        li.footer-menu__item
            a.footer-menu__link
                |Услуги
        li.footer-menu__item
            a.footer-menu__link
                |Платежи
        li.footer-menu__item
            a.footer-menu__link
                |Личные данные

        li.footer-menu__item.footer-menu__item_logout
            a.footer-menu__link
                |Выйти

    p.footer-menu__info
        |2009—2012 Дельта ООО «Охранные системы»
        br
        |Сделано в 
        a(href="#") DDVB