footer.footer
    .container
        ul.footer-menu
            li.footer-menu__item
                a.footer-menu__link(href="#")
                    |Главная
            li.footer-menu__item
                a.footer-menu__link(href="#")
                    |Управление
            li.footer-menu__item
                a.footer-menu__link(href="#")
                    |Услуги
            li.footer-menu__item
                a.footer-menu__link(href="#")
                    |Платежи
            li.footer-menu__item
                a.footer-menu__link(href="#")
                    |Личные данные

            li.footer-menu__item.footer-menu__item_logout
                a.footer-menu__link.footer-menu__link_logout(href="#")
                    |Выйти

        p.footer__info
            |2009—2012 Дельта ООО «Охранные системы»
        p.footer__developer
            |Сделано в 
            a(href="#") DDVB