header.header
    .container
        a.header__logo(href="#")
        .header__inner
            .header-user
                .header-user__info
                    span.header-user__name
                        |Суходольский Константин Константинович
                    a(href="#") 
                        |Выйти

                .header-balance
                    |Баланс
                    span.header-balance__remainder
                        |1000 руб.
                    a(href="#")
                        |Пополнить
                .header-contract
                    |Договор:
                    span.header-contract__number
                        |99858-23-42
                    a(href="#")
                        |Другой

            .header-contacts
                a.header-contacts__phone(href="tel:4957883558")
                    |(495) 788-35-58
                |горячая линия

            nav.header-menu
                ul.header-menu__list
                    li.header-menu__item
                        a.header-menu__link(href="#")
                            |Главная
                    li.header-menu__item
                        a.header-menu__link(href="#")
                            |Управление
                    li.header-menu__item
                        a.header-menu__link(href="#")
                            |Услуги
                    li.header-menu__item
                        a.header-menu__link(href="#")
                            |Платежи
                    li.header-menu__item
                        a.header-menu__link(href="#")
                            |Личные данные
